version: '3.8'
services:
  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.9.1
    ports:
      - "29092:29092"
    environment:
      KAFKA_NODE_ID: 1
      # Replace CLUSTER_ID with a unique base64 UUID using "bin/kafka-storage.sh random-uuid"
      # See https://docs.confluent.io/kafka/operations-tools/kafka-tools.html#kafka-storage-sh
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"

      KAFKA_PROCESS_ROLES: controller,broker

      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"  # Defines the controller voters.

      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

      KAFKA_LOG_DIRS: /var/lib/kafka/data
    restart: always
    volumes:
      - ./kafka/data:/var/lib/kafka/data
  kafka-ui:
    container_name: kafka-ui-demo
    image: provectuslabs/kafka-ui:v0.7.2
    ports:
      - "8080:8080"
    environment:
      # --- Demo 核心設定 ---
      # 1. 啟用動態設定：允許你在網頁 UI 上直接 "Add Cluster"
      - DYNAMIC_CONFIG_ENABLED=true
      # 2. 關閉登入驗證：Demo 不需要輸入帳密
      - AUTH_TYPE=DISABLED
      # 3. 設定日誌級別：減少雜訊
      - LOGGING_LEVEL_ROOT=INFO